<div id="wrapper">
	
<ul>
				<li><h6><% if user_signed_in? %>
					<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
				<% end %></h6></li>
				<li><h6><%= link_to "問い合わせ" %></h6></li>
				<li><h6><%= link_to "IDEA NOTEとは" %></h6></li>
				<li><h6><%= link_to "当サイト概要" %></h6></li>
				<li><h6><%= link_to "ログイン", user_session_path %></h6></li>
				<li><h6><%= link_to "新規登録", new_user_registration_path %></h6></li>
				
			</ul>
	<br>
	
	<br>
	<br>
	<div id="top-image">
			<%= image_tag "aaa" %>
		<div id="top-title">
			<h2>IDEA NOTE</h2>
			
			
		</div>
		<div id="sub-title">
			The value to the individual
		</div>
		<br>
		<br>

	</div>
	<div id="description">
		<h3><p>競争から共創への意識変換　時代の変化,個々での価値の提案を生み出し次なる活性化を目指す</p></h3>
		<hr>
	</div>
	<br>
	<br>
	
	<br>
	
	<div div="f-wrapper">	
		<div id="top-idea">
			<div class="e">
				<h3><%= link_to "起業家" %></h3>
				<%= form_for :entrepreneur, url:entrepreneurs_path do |f| %>
				
					<%= f.text_field :title %><br>
					<%= f.text_area :text %><br>
					<%= f.text_field :image %><br>
					<%= f.submit :IDEAIN %><br>
				<% end %>
				
				
			</div>
			<div class="c">
				<h3><%= link_to "クライアント" %></h3>
				<%= form_for :entrepreneur, url:entrepreneurs_path do |f| %>
					<%= f.text_field :title %><br>
					<%= f.text_area :text %><br>
					<%= f.text_field :image %><br>
					<%= f.submit :IDEAIN %><br>
				<% end %>
				
			</div>
			<div class="i">
				<h3><%= link_to "投資家" %></h3>
				<%= form_for :entrepreneur, url:entrepreneurs_path do |f| %>
					<%= f.text_field :title %><br>
					<%= f.text_area :text %><br>
					<%= f.text_field :image %><br>
					<%= f.submit :IDEAIN %><br>
				<% end %>
				<br>
				
			</div>
			
		</div>
		

	</div>
	
	<div id="header">
		<br>
		<hr>
		<br>
		<br>
			<div class="header-a">
				<p>『いま』あなたの周りに起きている 出来事についてのアイディア</p>
				
			</div>
			<div class="header-a">	
				<p>個々でのアイディアを複数人で考えまとめ上げるそれが一つの出来事に繋がる。</p>
				
				
			</div>
		
			<div class="header-a">
				<p>それをいち早くアイディアにまとめ上げる</p>
				
			</div>	
			<div class="header-c">
				<p>アイディアは貯めておくだけでは意味がなくそれをアウトプットしていくことに価値が生まれる</p>
			</div>
			<div class="header-a">
			 	自由な雰囲気で他を批判せずアイデアを出し合い最終的に一つによりよい解決を得ようとする
			</div>
	</div>

	<div id="bottm">
		<br>
		<br>
		<brp>
		Asense inc.Japan
	</div>
</div>

	


</div>
