<div class="login-box">
  <div class="sign-up">
      <h2>新規登録</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :ロール %><br />
        <%= f.select :role, [["起業家","起業家"], ["クライアント", "クライアント"], ["投資家", "投資家"]] %>
      </div>  

      <div class="field">
        <%= f.label :名前 %><br />
        <%= f.text_field :name %>
      </div>  

      <div class="filed">
        <%= f.label :画像 %><br />
        <%= f.file_field :image %>
       
      </div>


      <div class="field">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :パスワードを設定 %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :再パスワード %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "新規登録" %>
      </div>
    <% end %>
  </div>

  <div class="login">

    <h2>ログイン</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :パスワード %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :情報を記憶する%>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "ログイン" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
   </div>
  </div>
