<!DOCTYPE html>
<html>
<head>
  <title>Ideanote</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	
	

<ul>
				<li><h6><% if user_signed_in? %>
				<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
				<% end %></h6></li>
				<li><h6><%= link_to "問い合わせ" %></h6></li>
				<li><h6><%= link_to "IDEA NOTEとは" %></h6></li>
				<li><h6><%= link_to "当サイト概要" %></h6></li>
				<li><h6><%= link_to "ログイン", user_session_path %></h6></li>
				<li><h6><%= link_to "新規登録", new_user_registration_path %></h6></li>
				
			</ul>
		
			
		
	</div>
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
