<!DOCTYPE html>
<html>
<head>
  <title>Ideanote</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	
	

<ul class="top-menu">
			<li><h6><%= link_to "新規登録", user_session_path %></h6>
			</li>
			<li><h6><%= link_to "ログイン", user_session_path %></h6>
			<li>
				<h6><%= link_to "タイムライン", feeds_path %></h6>
			</li>
			<li>
				<h6><%= link_to "お気に入り", favorites_path %></h6>
			</li>
			<li>
				<h6><%= link_to "IDEA NOTEとは", about_index_path %></h6>
			</li>
	<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>				
</ul>
		
			
		
	</div>
	<!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
<%= yield %>

</body>
</html>
